doctype html
html
    head
        title MJ Overflow
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')
        script(src='/javascripts/application.js')
        script(src='/javascripts/screenchange.js')

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .sub-menu
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                .brand-item
                    a.navbar-brand(href='#') EventBrite
               
                form.form-inline.my-2.my-lg-0(method='GET', role='search')
                    input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                button.btn.btn-default(type='submit')
                    i.fa.fa-search(aria-hidden='true')
                #navbarSupportedContent.collapse.navbar-collapse
                    .menu-right
                        ul.navbar-nav.mr-auto
                            li.nav-item.active
                                a.nav-link(href='#')
                                    | BROWSE EVENTS
                                    span.sr-only (current)
                            li.nav-item.dropdown
                                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown',aria-haspopup='true', aria-expanded='false')
                                    | HELP
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    .dropdown-divider
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item.dropdown
                                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown',aria-haspopup='true', aria-expanded='false')
                                    i.user-avatar-icon.ico-avatar
                                        i.fa.fa-user-circle-o(aria-hidden='true')
                                    | NAME
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    .dropdown-divider
                                    a.dropdown-item(href='#') Something else here
        .sub-div1
            .sub-style1
                .sub-menu1
                    h3 Create An Event
                .sub-button1
                    button.btn.btn-warning(type='button') Save
                    button.btn.btn-warning(type='button') Preview
                    button.btn.btn-warning(type='button') Publish
            button#save-event-button.eds-btn.eds-btn--link.eds-btn--neutral(type='button', data-automation='save-event')
                | Save
            button#save-event-button.eds-btn.eds-btn--link.eds-btn--neutral(type='button', data-automation='save-event')
                | Preview
            button#save-event-button.eds-btn.eds-btn--link.eds-btn--neutral(type='button', data-automation='save-event')
                | Publish


        .container
            form.form-horizontal(role='form')
                fieldset
                legend 1.Event Details
                .formgroup1
                    .form-group
                        label.col-sm-3.control-label(for='card-holder-name') EventTitle
                        .col-sm-9
                            input#card-holder-name.form-control(type='text', name='card-holder-name', placeholder='Give it a short distinct name')
                    .form-group
                        label.col-sm-3.control-label(for='card-number') Location
                        .col-sm-9
                            input#card-number.form-control(type='text', name='card-number', placeholder='Search for a venue a adrress')
                .formgroup2
                    .form-group
                        .group-label
                            label.col-sm-3.control-label(for='expiry-month') Start
                            .col-sm-9
                                .row
                                    .col-xs-3
                                        select#expiry-month.form-control.col-sm-2(name='expiry-month')
                                            option Month
                                            option(value='01') Jan (01)
                                            option(value='02') Feb (02)
                                            option(value='03') Mar (03)
                                            option(value='04') Apr (04)
                                            option(value='05') May (05)
                                            option(value='06') June (06)
                                            option(value='07') July (07)
                                            option(value='08') Aug (08)
                                            option(value='09') Sep (09)
                                            option(value='10') Oct (10)
                                            option(value='11') Nov (11)
                                            option(value='12') Dec (12)
                                    .col-xs-3
                                        select.form-control(name='expiry-year')
                                            option(value='13') 2013
                                            option(value='14') 2014
                                            option(value='15') 2015
                                            option(value='16') 2016
                                            option(value='17') 2017
                                            option(value='18') 2018
                                            option(value='19') 2019
                                            option(value='20') 2020
                                            option(value='21') 2021
                                            option(value='22') 2022
                                            option(value='23') 2023
                        
                            .group-label2
                                label.col-sm-3.control-label(for='expiry-month') End
                                .col-sm-9
                                    .row
                                        .col-xs-3
                                            select#expiry-month.form-control.col-sm-2(name='expiry-month')
                                                option Month
                                                option(value='01') Jan (01)
                                                option(value='02') Feb (02)
                                                option(value='03') Mar (03)
                                                option(value='04') Apr (04)
                                                option(value='05') May (05)
                                                option(value='06') June (06)
                                                option(value='07') July (07)
                                                option(value='08') Aug (08)
                                                option(value='09') Sep (09)
                                                option(value='10') Oct (10)
                                                option(value='11') Nov (11)
                                                option(value='12') Dec (12)
                                        .col-xs-3
                                            select.form-control(name='expiry-year')
                                                option(value='13') 2013
                                                option(value='14') 2014
                                                option(value='15') 2015
                                                option(value='16') 2016
                                                option(value='17') 2017
                                                option(value='18') 2018
                                                option(value='19') 2019
                                                option(value='20') 2020
                                                option(value='21') 2021
                                                option(value='22') 2022
                                                option(value='23') 2023
                            
                .formgroup3
                    .form-group
                        label.col-sm-3.control-label(for='card-holder-name') Event Description
                        .col-sm-9
                            textarea(name='editor1')
                            script.
                                CKEDITOR.replace( 'editor1' );
                .formgroup4
                    .form-group
                        label.col-sm-3.control-label(for='card-holder-name') Event Image 
                        .col-sm-9
                            form(action='write.ref', method='post', enctype='multipart/form-data')
                                input(type='file', name='files')                                     
        
        .container
            form.form-horizontal(role='form')
                fieldset
                legend 2.Credit Ticket
            .credit-edit1
                
                .switch
                    input#cmn-toggle-4.cmn-toggle.cmn-toggle-round-flat(type='checkbox')
                    label(for='cmn-toggle-4')
                .credit-main1
                    h4 Reserved Seating: