doctype html
html
  head
    title MJ Overflow
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')
    script(src='/javascripts/application.js')
    script(src='/javascripts/screenchange.js')
    
  body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') Navbar
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')

            #navbarSupportedContent.collapse.navbar-collapse
                .menu-right
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='#')
                                | BROWSE EVENTS
                                span.sr-only (current)
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown',aria-haspopup='true', aria-expanded='false')
                                | HELP
                            .dropdown-menu(aria-labelledby='navbarDropdown')
                                a.dropdown-item(href='#') Action
                                a.dropdown-item(href='#') Another action
                                .dropdown-divider
                                a.dropdown-item(href='#') Something else here
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown',aria-haspopup='true', aria-expanded='false')
                                i.user-avatar-icon.ico-avatar
                                    i.fa.fa-user-circle-o(aria-hidden='true')
                                | NAME
                            .dropdown-menu(aria-labelledby='navbarDropdown')
                                a.dropdown-item(href='#') Action
                                a.dropdown-item(href='#') Another action
                                .dropdown-divider
                                a.dropdown-item(href='#') Something else here
                
                    