.header.clearfix
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href="/") EventBrite
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/questions") Create Event
     
          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') Signin
            li.nav-item
              a.nav-link(href='/users/new') Signup

          else if (currentUser.email == 'kmlee95@naver.com')
            li.nav-item
              a.nav-link(href="/users") 관리자
            li.nav-item
              a.nav-link(href='/signout') Signout

          else
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) #{currentUser.email}
            li.nav-item
              a.nav-link(href='/signout') Signout
        
          li.nav-item
            a.nav-link(href="/events") Browse Event
