extends layout

block hero-unit
  .main-pic
    #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='images/beautiful1.jpg', alt='First slide')
        .carousel-item
          img.d-block.w-100(src='images/beautiful2.jpg', alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='images/beautiful3.jpg', alt='Third slide')
  .container
      
block content
  .g-grid
    .contain-box
      h1.h-orange Find your next experience
      .line-position
        .block1
          input.categori(type='text' placeholder='Search events or categories')
        .block2
          input.categori2(type='text' placeholder='City or lacation')
        .block3
          select
            option(value='All Dates', selected='') All Dates
            option(value='Today') Today
            option(value='Tomorrow') Tomorrow
            option(value='This Week') This Week
            option(value='This Weekend') This Weekend
            option(value='Next Week') Next Week
            option(value='Next Month') Next Month
        button.btn.btn-primary.btn-sm(type='button') SEARCH
   
    .text-box
      p.font-event
        | Events for you in
        a.font-Seoul(href='http://www.naver.com') Seoul, Republic of Korea
          | 
          i.fa.fa-spinner(aria-hidden='true')
          
    br

    .card-deck
      .card
        .card-body
          img(src='', alt='card1')
        div
          p.first-p SAT. OCT 7 10:00 PM
          p.second-p KRAVE SATURDAYS - FREE ENTRY
          br
          p.third-p TRUTH NIGHTCLUB (Formerly Krave),Atlanta
        .card-footer
          a.card-text(href='..') #Art
          a.card-text(href='..') #Performance
          .card-post1
            a.link-post1(href='..')
              i.fa.fa-share-square-o(aria-hidden='true')
            a.link-post1(href='..')
              i.fa.fa-bookmark-o(aria-hidden='true')
      .card
        .card-body
          img(src='', alt='card2')
        div
          p.first-p FRI, OCT 20 7:00 PM
          p.second-p Grease, School Edition - October 20, 2017
          br
          p.third-p Seoul Foreign School| Yeonhui-radius
        .card-footer
          a.card-text(href='..') #Hobbys
          a.card-text(href='..') #Party~
          .card-post1
            a.link-post1(href='..')
              i.fa.fa-share-square-o(aria-hidden='true')
            a.link-post1(href='..')
              i.fa.fa-bookmark-o(aria-hidden='true')
      .card
        .card-body
          img(src='', alt='card3')
        div
          p.first-p THU. NOV 9 9:00 PM
          p.second-p MAR+IN GARRIX WORLDCLUBDOME
          br
          p.third-p Seoul, Seoul
        .card-footer
          a.card-text(href='..') #WorldClub
          a.card-text(href='..') #Sales
          .card-post1
            a.link-post1(href='..')
              i.fa.fa-share-square-o(aria-hidden='true')
            a.link-post1(href='..')
              i.fa.fa-bookmark-o(aria-hidden='true')

    br
    .card-deck
      .card
        .card-body
          img(src='', alt='card1')
        div
          p.first-p SAT. OCT 7 10:00 PM
          p.second-p KRAVE SATURDAYS - FREE ENTRY
          br
          p.third-p TRUTH NIGHTCLUB (Formerly Krave),Atlanta
        .card-footer
          a.card-text(href='..') #Art
          a.card-text(href='..') #Performance
          .card-post1
            a.link-post1(href='..')
              i.fa.fa-share-square-o(aria-hidden='true')
            a.link-post1(href='..')
              i.fa.fa-bookmark-o(aria-hidden='true')
      .card
        .card-body
          img(src='', alt='card2')
        div
          p.first-p FRI, OCT 20 7:00 PM
          p.second-p Grease, School Edition - October 20, 2017
          br
          p.third-p Seoul Foreign School| Yeonhui-radius
        .card-footer
          a.card-text(href='..') #Hobbys
          a.card-text(href='..') #Party~
          .card-post1
            a.link-post1(href='..')
              i.fa.fa-share-square-o(aria-hidden='true')
            a.link-post1(href='..')
              i.fa.fa-bookmark-o(aria-hidden='true')
      .card
        .card-body
          img(src='', alt='card3')
        div
          p.first-p THU. NOV 9 9:00 PM
          p.second-p MAR+IN GARRIX WORLDCLUBDOME
          br
          p.third-p Seoul, Seoul
        .card-footer
          a.card-text(href='..') #WorldClub
          a.card-text(href='..') #Sales
          .card-post1
            a.link-post1(href='..')
              i.fa.fa-share-square-o(aria-hidden='true')
            a.link-post1(href='..')
              i.fa.fa-bookmark-o(aria-hidden='true')

    .btn-center
      button.btn.btn-outline-primary(type='button') See More

    .test-position
      p.text-ctg Browse by Top Categories