extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .card-group
    .card
      img.card-img-top(src='...', alt='Card image cap')
      .card-body
        h4.card-title Card title
        p.card-text
          | This is a wider card with supporting 
      .card-footer
        small.text-muted Last updated 3 mins ago
    .card
      img.card-img-top(src='...', alt='Card image cap')
      .card-body
        h4.card-title Card title
        p.card-text This card has supporting text
      .card-footer
        small.text-muted Last updated 3 mins ago
    .card
      img.card-img-top(src='...', alt='Card image cap')
      .card-body
        h4.card-title Card title
        p.card-text
          | This is a wider card with supporting text 
      .card-footer
        small.text-muted Last updated 3 mins ago
  br
  br
  .card-group
    .card
      img.card-img-top(src='...', alt='Card image cap')
      .card-body
        h4.card-title Card title
        p.card-text
          | This is a wider card with supporting 
      .card-footer
        small.text-muted Last updated 3 mins ago
    .card
      img.card-img-top(src='...', alt='Card image cap')
      .card-body
        h4.card-title Card title
        p.card-text This card has supporting text
      .card-footer
        small.text-muted Last updated 3 mins ago
    .card
      img.card-img-top(src='...', alt='Card image cap')
      .card-body
        h4.card-title Card title
        p.card-text
          | This is a wider card with supporting text 
      .card-footer
        small.text-muted Last updated 3 mins ago