
.main-title {
  .small {
    float: right;
    font-size: 1rem;
    color: #bbb;
  }
}
.question {
  line-height: 160%;
  margin-bottom: 1em;
  
  .title {
    color:black;
    margin-top:3px;
    font-family:'Noto Sans Ethiopic', sans-serif;
    font-size: 2.0rem;
  }
  .tags {
    margin: 0.5em 0;
  }
}
.author {
  text-align: right;
  font-size: 0.8em;
  color: #81bbf2;
}
.numbers {
  text-align: left;
  color: #81bbf2;
}
.number {
  font-size: 1.2em;
  font-weight: bold;
  color: #0f5ca6;
}

.show {
  .buttons {
    margin: 1em 0;
  }

  .answer {
    position: relative;
    .like-badge {
      text-align: center;
      padding: 0.5em;
      position: absolute;
      .button {
        font-size: 0.8em;
      }
    }
    .card-body{
      padding-left: 4em;
    }
    margin-bottom: 1em;
  }
}
.question-like-btn, .answer-like-btn {
  .for-loading {display: none;}
  cursor: pointer; 

  &.loading {
    & > span {display: none;}
    .for-loading {display: inline-block;}
    filter: opacity(30%);
    cursor: wait;
  }

  &.disabled {
    color: #bbb;
    cursor: default;
  }
}

.questions .question{
  margin-bottom:2em;
}
.badge-secondary {
  margin-left: 25px;
}
.eventcontent{
  font-size:0.8em;
}
.eventbox{
  border:1px solid #81bbf2;
  margin: 0 auto;
  width: 80%;
}
.eventbox a{
  color:black;
}
.eventname{
  font-size: 2.0rem;
  padding-top: 20px;
  text-align:center;
}
.contentsub{
  display:inline-flex;
}
.contentsub1{
  display:flex;
  flex-direction:column;
}