@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/earlyaccess/notosansethiopic.css");
body {
  font: 1rem 'Montserrat', sans-serif;
  margin-top: 0px;
  padding-top: 0em;
  letter-spacing: .5px; }
  body > .main-content {
    min-height: 400px; }

.fixed-top {
  position: relative; }

input {
  word-spacing: 1px; }

a:hover {
  text-decoration: none; }

.img-fluid {
  max-width: 100%; }

/*.jumbotron {
  margin-top: -1em;
  background: url('/images/beautiful1.jpg') no-repeat left center;
  min-height: 20em;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}*/
.g-grid {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: .5px;
  padding-left: 15px;
  padding-right: 15px; }

/*컨테인 박스*/
.contain-box {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, white 25%);
  margin-top: -140px;
  position: relative;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center; }

.h-orange {
  line-height: 60px;
  font-weight: 200;
  color: #007bff; }

.line-position {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 10px; }

.block1 {
  display: inline-block;
  width: 280px; }

.block2 {
  display: inline-block;
  width: 170px; }

.block3 {
  display: inline-block;
  width: 150px; }

.line-position input[type=text] {
  border-right: none;
  box-sizing: border-box;
  border-radius: 3px;
  vertical-align: middle;
  width: 102.5%;
  padding: 9px 12px;
  border: 1px #D2D6DF solid;
  background: #fff;
  color: #45494E;
  font-size: 1.0em;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .5px; }

.line-position select {
  box-sizing: border-box;
  width: 103%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px #D2D6DF solid;
  border-radius: 3px;
  color: #45494E;
  background-color: #fff;
  font-size: 16px;
  line-height: 16px;
  height: 44px; }

.line-position .btn-sm {
  padding: .65rem 2.3rem;
  font-weight: bold; }

.card a {
  color: black; }

.card-text .ctitle {
  font-size: 1.3em;
  color: #D358F7;
  padding-bottom: 5px; }

.card-text .ccontent {
  font-size: 0.9em; }

.card-text .ctype {
  font-size: 0.9em; }

.card-text .ctopic {
  font-size: 0.9em; }

.card-text .ctime {
  font-size: 0.9em; }

.card-text {
  display: flex;
  flex-direction: column; }

.card-text p {
  font-size: 1.2rem;
  font-family: 'Indie Flower', cursive; }

.cardlocation {
  display: inline-flex; }

.cardtopic {
  display: inline-flex; }

.cardtype {
  display: inline-flex; }

.carddate {
  display: inline-flex; }

.tagdiv .indextag {
  float: left;
  color: #848484;
  font-weight: bold; }

.card-footer {
  padding-left: 1.2rem;
  padding-right: 1.2rem; }

.icondiv .tagicon {
  height: 100%;
  font-size: 1.0rem;
  color: #848484;
  float: right;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #848484; }

/*카드아래 버튼*/
.btn-center {
  text-align: center;
  margin-top: 20px; }

.btn-center .btn {
  font-weight: 600;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px; }

.btn-center .btn-outline-primary:hover {
  color: #fff;
  background-color: #0278b8;
  border-color: #0278b8; }

/*버튼 아래 소주제2*/
.test-position {
  text-align: center;
  margin-top: 35px;
  padding-left: 15px;
  padding-right: 15px; }

.test-position .text-ctg {
  font-size: 1.7em;
  color: rgba(0, 0, 0, 0.5);
  line-height: 30px;
  font-weight: 200;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0; }

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5; }

/*컨테인 박스 아래 주제1*/
.text-box {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
  text-align: center; }

.font-event {
  margin-top: 20px;
  padding: 10px;
  line-height: 44px;
  font-size: 1.6em;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.5); }

.font-Seoul {
  color: #00BFFF; }

.font-Seoul:hover {
  text-decoration: underline;
  color: #013653; }

.footer {
  margin-top: 1em;
  padding-top: 1em;
  color: #aaa;
  border-top: .05rem solid #e5e5e5; }

.main-title {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3.0rem;
  margin: 0em 0 0.5em 0;
  border-bottom: 1px solid #eee;
  color: #011a72; }

.main-title1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3.0rem;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #eee;
  color: #2ECCFA;
  text-align: center; }

.main-title2 {
  font-size: 2.0rem;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #eee;
  color: #011a72; }

.header > .navbar {
  background-color: #AC58FA !important; }

.navbar-dark .navbar-nav .nav-link {
  font-weight: bold; }

.search-input-group {
  margin: 1em 0;
  width: 100%;
  position: relative; }
  .search-input-group input {
    border-radius: 2em;
    padding-left: 2.5em;
    width: 100% !important; }
  .search-input-group i {
    font-size: 1.3em;
    top: 0.4em;
    left: 1.5em;
    color: #bababa;
    position: absolute; }

.form-signin {
  width: 300px;
  margin: 0 auto;
  padding: 1em; }
  .form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px; }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px; }
  .form-signin .form-control:focus {
    z-index: 2; }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .form-signin .sub {
    margin: 1em 0; }

.main-title .small {
  float: right;
  font-size: 1rem;
  color: #bbb; }

.question {
  line-height: 160%;
  margin-bottom: 1em; }
  .question .title {
    color: black;
    margin-top: 3px;
    font-family: 'Noto Sans Ethiopic', sans-serif;
    font-size: 2.0rem; }
  .question .tags {
    margin: 0.5em 0; }

.author {
  text-align: right;
  font-size: 0.8em;
  color: #81bbf2; }

.numbers {
  text-align: left;
  color: #81bbf2; }

.number {
  font-size: 1.2em;
  font-weight: bold;
  color: #0f5ca6; }

.show .buttons {
  margin: 1em 0; }

.show .answer {
  position: relative;
  margin-bottom: 1em; }
  .show .answer .like-badge {
    text-align: center;
    padding: 0.5em;
    position: absolute; }
    .show .answer .like-badge .button {
      font-size: 0.8em; }
  .show .answer .card-body {
    padding-left: 4em; }

.question-like-btn, .answer-like-btn {
  cursor: pointer; }
  .question-like-btn .for-loading, .answer-like-btn .for-loading {
    display: none; }
  .question-like-btn.loading, .answer-like-btn.loading {
    filter: opacity(30%);
    cursor: wait; }
    .question-like-btn.loading > span, .answer-like-btn.loading > span {
      display: none; }
    .question-like-btn.loading .for-loading, .answer-like-btn.loading .for-loading {
      display: inline-block; }
  .question-like-btn.disabled, .answer-like-btn.disabled {
    color: #bbb;
    cursor: default; }

.questions .question {
  margin-bottom: 2em; }

.badge-secondary {
  margin-left: 25px; }

.eventcontent {
  font-size: 0.8em; }

.detailcontent {
  font-size: 0.8em; }

.eventbox .questions .question {
  border: 1px solid #81bbf2; }

.eventbox {
  margin: 0 auto;
  width: 80%; }

.eventbox a {
  color: black; }

.eventname {
  font-size: 2.0rem;
  padding-top: 20px;
  text-align: center; }

.contentsub {
  display: inline-flex; }

.contentsub1 .col-md {
  display: block; }

.participate_box {
  border: 1px solid orange;
  margin-bottom: 30px; }

.favortable {
  margin-top: 20px; }

.mapform {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem; }

.reflex {
  display: flex;
  flex-direction: row;
  float: right; }

.sub-menu {
  font-family: "Benton Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #45494E;
  font-size: 15px;
  font-weight: 400;
  height: 57px;
  max-width: none;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #D2D6DF; }

.menu-right .nav-item {
  margin-left: 20px; }

.sub-menu .navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.bg-light {
  background-color: #ffffff !important; }

.menu-right {
  float: right; }

.sub-menu .navbar-expand-lg .navbar-collapse {
  display: flex;
  flex-direction: row-reverse;
  /*이것때문에 토글이제대로안됨*/ }

.sub-menu .navbar-nav .dropdown-menu {
  right: 0;
  left: auto; }

.navbar-light .navbar-brand:hover {
  color: orange; }

.navbar-light .navbar-brand:focus {
  color: orange; }

.brand-item .navbar-brand {
  display: block;
  float: left;
  margin: 0px 20px;
  color: orange;
  width: 110px; }

.sub-div1 {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 30px; }

legend {
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 20px; }

/*중간 sub title*/
.sub-style1 {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row; }

.sub-menu1 h3 {
  padding-top: 15px; }

.sub-style1 .sub-button1 {
  margin-left: auto;
  line-height: 60px; }

.sub-style1 .sub-menu1 {
  padding-left: 15px;
  font-size: 1.7em;
  color: rgba(0, 0, 0, 0.5);
  line-height: 30px;
  width: 500px; }

/*첫번째 메뉴*/
label {
  font-weight: 700; }

.form-horizontal {
  margin-top: 20px; }

.form-control {
  width: 100%; }

select.form-control:not([size]):not([multiple]) {
  height: auto; }

.col-sm-9 {
  width: 100%;
  flex: 0 0 75%;
  max-width: 100%; }

.row {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px; }

.group-label {
  margin-bottom: 20px;
  display: flex; }

.group-label2 {
  /* margin-bottom: 20px; */
  display: flex; }

.col-sm-3 {
  flex: 0 0 25%;
  max-width: 20%;
  text-align: right; }

.col-xs-3 {
  margin-right: 10px; }

@media (min-width: 576px) {
  .col-sm-2 {
    max-width: 150%; } }

.formgroup1 .form-group {
  width: 80%;
  display: flex; }

.formgroup2 .form-group {
  width: 80%;
  display: block; }

.formgroup3 .form-group {
  width: 80%;
  display: flex; }

.formgroup4 .form-group {
  width: 80%;
  display: flex; }

.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 3px;
  font-size: 15px; }

input[type=file] {
  font-size: 14px; }

/*creadit card 부분(reserved seating*/
.credit-edit1 {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20px;
  margin-bottom: 35px; }

.credit-edit1 div {
  margin-right: 10px; }

.credit-main1 h4 {
  font-size: 1.3rem; }

.buttonback {
  float: right; }

/*creadit card toggle 버튼부분*/
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none; }

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 75px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s; }

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: ""; }

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s; }

input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 22px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s; }

input.cmn-toggle-round-flat:checked + label {
  background-color: #27A1CA; }

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 45px;
  background-color: #27A1CA; }

/*credit 내용부분*/
.credit-edit2 {
  position: relative;
  text-align: center;
  margin: 0 auto; }

.credit-font2 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #848484; }

.buttongroup {
  display: inline-flex; }

.credit-font3 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #848484;
  text-align: center; }

.ticketoption {
  display: flex; }

.credit-edit3 {
  position: relative;
  text-align: center;
  margin: 0 auto; }

.credit-edit4 {
  display: block;
  margin-bottom: 15px; }

/*credit 내용부분-버튼*/
.credit-edit2 {
  margin-bottom: 30px; }

.credit-edit2 .btn {
  padding: 10px 22px;
  font-size: 17px;
  margin-right: 30px;
  font-weight: bold; }

/*3. additional Settings*/
.addition-model {
  width: 85%;
  margin: 0 auto; }

.addition-model h4 {
  font-weight: 400;
  font-size: 1.2rem; }

.add-edit1 {
  margin-bottom: 20px; }

.add-edit1 div {
  display: block; }

.add-edit1 input[type=radio] {
  margin-right: 7px; }

.add-edit1 label {
  vertical-align: middle;
  font-size: 15px;
  color: #282C35;
  line-height: 22px; }

#addspan {
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  color: #666A73; }

#addspan2 {
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  color: #666A73; }

.add-edit2 {
  margin-bottom: 30px; }

.event-type {
  margin-bottom: 10px; }

.add-edit2 h4 {
  margin-bottom: 10px; }

.event-type select.form-control {
  height: auto;
  width: 45%; }

.event-topic select.form-control {
  height: auto;
  width: 30%; }

.add-edit3 {
  padding-bottom: 40px;
  margin-bottom: 40px; }

.add-edit3 input[type=checkbox] {
  margin-right: 7px; }

.add-edit3 #addrespan {
  font-size: 15px;
  color: #282C35; }

.mapcontent {
  display: flex; }

.map_wrap {
  position: relative;
  width: 100%;
  height: 350px; }

.title {
  font-weight: bold;
  display: block; }

.hAddr {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 2px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 5px; }

#centerAddr {
  display: block;
  margin-top: 2px;
  font-weight: normal; }

.bAddr {
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

/*# sourceMappingURL=style.css.map */